.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body {
  margin: 0;
  padding: 0;
}

.content{
  max-width: 960px;
  margin: 0 auto;
}

.md-toolbar-tools img{
  max-height: 60px;
}

md-card{
  margin-bottom: 64px;
}

#logo-arc{

}

#logo-so{

}

footer{
  background-color: #0098d8;
  color: #fff;
}
#search-page h2 {
  margin: 10px;
}

#teams{
  width: 100%;
  border-collapse: collapse;
}

#teams tbody tr{
  border-bottom: 1px solid #999;
}

#teams tbody tr:nth-child(odd){
  background-color: rgba(0, 152, 216, 0.1)
}

#teams tbody tr:hover{
  background-color: lightyellow;
}

#teams tbody td{
  padding: 10px;
}

#scoreboard table{
  width: 100%;
  border-collapse: collapse;
}

#scoreboard tbody td{
  vertical-align: top;
}

#scoreboard tbody td{
    padding: 10px 30px;
}

#scoreboard tbody tr:nth-child(odd){
    background-color: rgb(255,255,255);
}

#scoreboard tbody tr:nth-child(even){
    background-color: rgb(200,200,200);
}
#scoreboard tbody tr td:nth-child(3){
    text-align: right;
    font-weight: bold;
}
#scoreboard .flag{
    padding: 10px;
    position: relative;
    display: inline-block;
}

#scoreboard .flag img{
    height: 60px;
}

#scoreboard .flag md-icon{
    position: absolute;
    bottom: 10px;
    left: 0px;
}

#scoreboard .flag .wrong, #scoreboard .flag .correct{
    background-size: contain;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 20px;
    right: 5px;
    z-index: 101;
    background-repeat: no-repeat;
    background-position: 0 0;
}
#scoreboard .flag .wrong{
    background-color: #dc1616;
    background-image:  url('../images/delete102.png');
}

#scoreboard .flag .correct{
    background-color: #338800;
    background-image:  url('../images/checked21.png');

}

videogular{
  display: none;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}

.sort-asc::after{
  content: '▲'
}

.sort-desc::after{
  content: '▼'
}

@media (max-width: 680px) {
 #logo-arc{
    display: none;
 }
}